.banner-grid{
    width: 100%;
    margin-top: 25px;
    padding: 50px 0px;
}
.banner-grid .container{
    background: unset;
}
.banner-grid .button-content{
    text-align: unset;
    width: unset;
}
.advanced-image-blog{
    position: relative;
}
.banner-image{
    position: relative;
}

.banner-grid-style-1{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 1.5rem;
    left: 1.5rem;
    bottom: 0;
    padding:12% 8%;
}

.banner-grid-style-2{
    padding: 3rem;
}

.title-section em{
    color: red;
}

.banner-content{
    align-items: center;
    /* padding-top: 10px; */
    /* padding: 60px 0px; */
}

.banner-image-hover{
    
    overflow: hidden;
}

.banner-image-hover:before, .banner-image-hover:after{
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 99;
}
.banner-image-hover:before{
    border-top: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #fff;
    transform: scale(0,1);
}
.banner-image-hover:after{
    transform: scale(1,0);
    border-left: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
}
.banner-image-hover:hover:before, .banner-image-hover:hover:after{
    transform: scale(1);
    opacity: 1;
}
.banner-image-hover img{
    transition: all 0.5s ease-in-out;
}
.banner-image-hover:hover img{
    transform: scale(1.1);
}

.banner-grid-content.image-banner-grid__media--placeholder.placeholder{
    background: transparent;
}

.image-banner-grid__media--placeholder .placeholder-svg {
    height: 100%;
    width: 100%;
  }
/* .banner-content{
    margin: 0 -7.5px;
} */
/* .banner-content .banner-image{
    margin: 7.5px;
} */
.banner-grid .banner-grid-style-1 h5{
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 600;
    color: #000;
    /* margin-bottom: 1.6rem; */
}
.banner-grid .banner-grid-style-1 h3{
    font-weight: 600;
    font-size: 30px;
}
.banner-grid .banner-grid-style-1 a >span{
    text-transform: uppercase;
    border-bottom: 2px dashed #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.banner-grid .banner-grid-style-1 a >span:hover{
    color: var(--color-base-link-hover);
}
.banner-grid .col-lg-6 .banner-grid-style-1{
    width: max-content;
    text-align: center !important;
}
.banner-grid .col-lg-6 .banner-grid-style-1 h3{
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.banner-grid .col-lg-6 .banner-grid-style-1 a >span{
    display: inline-block;
    background: #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 30px;
    transition: .5s ease;
    font-weight: 700;
    border: none;
}
.banner-grid .col-lg-6 .banner-grid-style-1 a >span:hover{
    background-color: var(--color-base-link-hover);
    color: #fff;
}

.banner-grid .button-content{
    margin-top: 0;
}

.banner-grid .banner-content p{
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.banner-grid .banner-content p span{
    letter-spacing: 4px;
}
.banner-grid .banner-item{
    padding: 0px 10px;
}
.banner-grid .banner-item .media{
    border-radius: 10px;
}
.banner-grid .row .col-lg-8.col-md-12.banner-item .banner-grid-style-1{
    padding: 3rem 6rem;
}

@media (min-width:992px) and (max-width:1200px) {
    .banner-grid .col-lg-6 .banner-grid-style-1 h3{
        font-size: 32px;
    }
}
@media (min-width:992px) {
    .banner-grid .col-lg-6.col-sm-12.banner-item:first-child{
        padding-left: 0px;
    }
    .banner-grid .col-lg-6.col-sm-12.banner-item:last-child{
        padding: 10px;
    }
    .banner-grid .banner-content .banner-item:first-child{
        padding-left: 0px;
    }
    .banner-grid .banner-content .banner-item:last-child{
        padding-right: 0px;
    }
}
@media (min-width:567px) and (max-width:992px) {
    .banner-grid .banner-item{
        padding: 10px;
    }
    
    .banner-grid .banner-grid-style-1 h5{
        font-size: 16px;
    }
    
}

@media(max-width: 567px){
    .banner-grid .banner-item{
        padding: 10px;
    }
    .banner-grid .col-lg-6 .banner-grid-style-1 h3{
        font-size: 30px;
        margin-bottom: 0px;
    }
}