/* announcement-bar */
.header-3-announcement-bar{
    background-color: #fff;
    color: #333;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.color-transparent .header-3-announcement-bar{
    background-color: transparent;
}

.header-3-announcement-bar p{
    margin: 0;
}
.header-3-announcement-bar .greeting{
    padding-right: 30px;
}
.header-3-announcement-bar .greeting p{
    color: #a9b1c0;
    font-size: 16px;
    margin-bottom: 0;
}
.header-3-announcement-bar .pre-currencies{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}
.header-3-announcement-bar .dropdown-toggle::after{
    display: none;
}
.header-3-announcement-bar .fa-angle-down:before {
    content: "\f107";
}
.header-3-announcement-bar-right{
    justify-content: flex-end;
}
.header-3-announcement-bar-right .sign-in a{
    font-weight: 600;
    font-size: 16px;
}
.header-3-announcement-bar-right .sign-in ul li::after{
    content: "/";
    margin-left: 5px;
}
.header-3-announcement-bar-right .sign-in ul li:last-child::after{
    content: "";
    margin-left: 5px;
}
.header-3-announcement-bar-right .sign-in ul li{
    padding-left: 5px;
}
.header-3-announcement-bar-right .sign-in ul li:hover a,.header-3-announcement-bar-right .about-us ul li:hover a,.header-3-announcement-bar .dropdown-toggle:hover .pre-currencies{
    color: var(--color-menu_text_hover);
}
.header-3-announcement-bar-right .about-us,.header-3-announcement-bar-right .sign-in{
    padding: 12px 0px;

}
.header-3-announcement-bar-right .sign-in{
    margin-right: 20px;
}
.header-3-announcement-bar-right .about-us ul li{
    padding: 0px 15px;
}
.header-3-announcement-bar-right .about-us a{
    font-size: 16px;
    color: #a9b1c0;
}
/*  */
.color-transparent{
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 99999;
}
.logo-align-left{
    order: 0;
}
.logo-align-center{
    order: 1;
}

.header-3 .header-icon{
    order: 2;
}
.header-align-center{
    order: 1;
}
.header-align-left{
    order: 0;
}
.head-logo{
    align-self: center;
}
.header-menubar{
    align-self: center;
}
.header-3 .header-center{
    padding: 10px 0 20px 0;
}
.header-3 .header-center .header-icon .header-3-announcement-bar-right{
    justify-content: flex-start;
}
/* header 3 */
.header-3 .header-center .header-icon{
    justify-content: flex-start;
}
.header-3 .header-center .block_currencies .dropdown-toggle::after{
    display: none;
}
/* header-seach */

/* @media(max-width: 991px){
    .header-3 .form-search{
        display: none;
    }
} */
.header-3 .form-search.active{
    min-width: 280px;
    border: 1px solid var(--color-menu_text_hover)!important;
    top: 105%;
    overflow: auto;
}
.header-3 .search-media:focus svg{
    color:var(--color-menu_text_hover) ;
}
.header-3 .icon-search .field{
    margin-top: -5px;
}
@media (min-width: 992px){
    .header-3 .header-menubar{
        border-top: 3px dotted #d5dbe6;
        padding-top: 20px;
    }

    .header-3 .icon-search .field__button{
        border-radius: 30px;
        background-color: transparent;
        color: #000;
        left: 0;
        right: unset;
    }
    .header-3 .icon-search .field__input:focus{
        padding: 0 15px 0 45px;    
    }
    
    .header-3 .icon-search .field__input:not(:placeholder-shown){
        padding: 0 15px 0 45px;
    }
    .header-3 .field__label{
        left: 4.5rem;
        top: 1.3rem;
    }
    .header-3 .search-media{
        display: none;
    }
    .header-3 .form-search{
        opacity: 1;
        visibility: visible;
        position: unset;
    }
    
}
/* menu bar */
.header-3-center .cart{  
    color: var(--color-menu_text_hover) !important;
 }
 .header-3 .header-menubar>.nav-bar >.site-nav >.site-nav__item:hover >a{
    background-color:#fed2cc;
    color: var(--color-menu_text_hover);
}
/* header-card */
.header-3 .header-card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-3 .header-card-box-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-3 .header-card-box .img-card{
    width: 44px;
    height: 40px;
    display: block;
    margin-right: 20px;
    top: 0;
    left: 0;
}
.header-3 .header-card-box .img-card img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.header-3 .totals span{
    background: transparent;
    color: #000;
    font-size: 20px;
    font-family: "Josefin Slab",serif;
}
.header-3 .head-logo{
    padding: 30px 0px;
}
.header-3 .header-card-box .icon-card-tow{
    width: 25px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}
.header-3 .icon-search .field__button{
    background-color: #fff;
}
.header-3 .icon-search .search__button .icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}
@media (min-width:1500px) {
    .header-3 .header-card-box-con{
        border-left: 3px dotted #e1e1e1;
        padding: 20px 20px;
    }
}
@media (max-width: 1199px){
    .header-3  .head-logo {
        text-align: center;
    }
    
    
}
@media (max-width: 992px){
    .header-3 .header-card-box .img-card{
        margin-right: 30px;
    }
    .header-3 .header-center .header-icon{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header-3 .header-card-box{
        justify-content: space-between;
    }
    .header-3 .header-card-box-con{
        min-width: 250px;
    }
}
@media (max-width:567px) {
    .header-3 #currencies{
        left: 100% !important;
    }
    .header-3 .header-card-box-con{
        margin-top: 10px;
    }
}
@media (max-width:768px) {
    .header-3 .cart span {
        position: absolute;
        background-color: rgb(var(--color-button));
        color: rgb(var(--color-button-text));
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 100%;
        text-align: center;
        align-items: center;
        font-size: 12px;
        top: 10%;
        right: 5%;
        line-height: 1.4;
        right: unset;
        left: 0;
        top: 0;
      }
      .header-3 .cart >span{
          left: 13px;
          top:-2px;
      }
      .header-3 .header-card-box-con{
        min-width: 250px;
        justify-content: flex-end;
    }
}
@media (max-width:992px) {
    .header-3 .header-center .header-infor{
        order: 0;
    }
    .header-3 .head-logo{
        order: 1;
    }
    .header-3 .header-card-box{
        order: 3;
    }
}