/* vertical-menu */
/* Home 1 */
.left-column .nav-vertical{
    position: unset;
    width: 100%;
    background: #fed2cc;
    border-radius: 10px;
    text-align: center;
}
.left-column .vertical-menu-close{
    display: none;
}
.left-column .nav-vertical .site-nav{
    padding: 40px 55px;
}
.left-column .nav-vertical .site-nav__item {
    border-bottom: 3px dotted #dcb6b0;
    padding: 20px 0;
    transition: all .3s ease;
}
.left-column .nav-vertical .site-nav__item:hover .site-nav-ver__link{
    color: #353535;
}
.left-column .nav-vertical .site-nav-ver__link{
    padding: 0px;
    color: #be7374;
    font-weight: 600;
    font-size: 20px;
}

@media (min-width: 992px){
    .left-column .site-nav__item:hover {
        background-color: unset;
    }
}

@media (min-width: 992px){
    .nav-vertical {
        background-color: #353535;
        overflow-y: unset;
    }
}
/* service */
.left-column .list-icon::before{
    display: none;
}
.left-column .service{
    border: none;
}
.left-column .service-content.icon-top .service-icon img{
    margin: 0;
}
.left-column .service-content .service-title{
    font-weight: 600;
    font-size: 20px;
    padding-top: 16px;
    margin-bottom: 20px;
}
.left-column .service-content .service-text{
    color: #a9b1c0;
    font-weight: 600;
    font-size: 18px;
}
@media (min-width: 1200px){
    .left-column .list-icon {
        width: 225px;
        margin: auto;
        border-bottom: 3px dotted #d5dbe6;
        padding: 25px 0;
    }
    .left-column .list-icon:last-child {
        border: none;
    }
}

/* banner-cart */
.left-column .banner-header{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: auto;
    margin-bottom: 0.5rem;
}
.left-column .banner-text {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    padding-bottom: 20px;
}
.left-column .banner-cart-description{
    position: relative;
    transform: unset;
    top: unset;
    left: unset !important;
    right: unset;
    bottom: unset;
}
.left-column .button-content>span{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px dashed #fed2cc;
    display: inline-block;
    margin-top: 20px;
}
.left-column .banner-cart-container .media{
    padding: 0px !important;
}
.left-column .banner-cart-container .media>:not(.zoom):not(.deferred-media__poster-button) {
    position: unset;
    margin: auto;
    width: auto;
    max-width: 100%;
    height: auto;
}
.left-column .banner-cart .container{
    padding: 40px 0px;
}



/* blog -carousel */
.left-column .blog-post .container{
    padding-bottom: 40px;
}
.left-column .blog-post .title-block{
    margin-bottom: 0px;
    padding-bottom: 30px;
}
.left-column .blog-1 .blog-post .blog-content{
    border-bottom: 3px dotted #d5dbe6;
    padding: 25px 0px 35px 0px;
}
.left-column .blog-1 .blog-post .media{
    display: none;
}
.left-column .blog-1 .blog-content h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.left-column .blog-1 .blog-content span{
    color: #a9b1c0;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.left-column .blog-1 .blog-content .blog-content-box{
    display: flex;
}
.left-column .blog-1 .btn-view-blog{
    padding-top: 30px;
}
.left-column .blog-1 .link-blog-all{
    border-bottom: 2px dashed #fed2cc;
}
@media (min-width:1200px) {
    .left-column .blog-1 .slick-initialized .slick-slide{
        padding: 0px 20px;
    }
}
/* wrapper */
.left-column .wrapper>.container{
    padding: 0;
}
.left-column .wrapper .blog-column .blog-row-box{
    border-radius: 10px;
}
.left-column .wrapper .blog-content {
    background: #fff;
    padding: 0px 40px;
    text-align: center;
}
.left-column .wrapper .media{
    background-color: unset;
}
.left-column .wrapper .blog-column .blog-row-box{
    padding: 0px;
}
.left-column .wrapper .blog-column .blog-post h2{
    text-align: center;
    font-size: 20px;
    border: none;
}
.left-column .wrapper .blog-column .media img{
    width: 100% !important;
}
.left-column .wrapper .blog-post .title-block{
    margin: 0px;
}

/* product-carousel */
.left-column .product-carousel .title-block{
    margin-bottom: 0px;
}








/* Home 3 */
@media (min-width:768px) {
    .left-column .collection-1 .container{
        padding: 0 45px 30px 45px;
    }
    .left-column .collection-1 .flex-fake{
        display: flex;
        text-align: left;
    }
    .left-column .collection-1 .collection-content{
        width: 30%;

        margin-bottom: 0;
        padding: 0 !important;
    }
    .left-column .collection-1 .collection-content img{
        width: 100%;
        height: auto;
        position: relative;
    }
    .left-column .collection-1 h3{
        flex:1;
        align-items: center;
        display: flex;
    }
    .left-column .collection-1 h3 span{
        margin-left:10px ;
    }
}
@media (max-width:768px) {
    .left-column .collection-1 .collection-1-content .text-top{
        position: unset;
        transform: unset;
    }
    .left-column .collection-1 .title-block{
        font-size: 60px;
    }
}
@media (max-width:1200px) {
    .left-column .product-carousel{
        margin-top: 30px;
    }
}