.logo-carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.logo-carousel .slick-slide img{
    margin: auto;
    
}
.logo-carousel-content{
    width: 100%;
    margin: 0;
    padding: 35px 0px;
}
.logo-image{
    margin: 0 1.5rem;
}
.logo-image .logo_media{
    overflow: hidden;
    position: relative;
    
}
.logo-carousel .logo_media img{
    transition: all .3s ease;
}
.logo-image.slick-slide.slick-active{
    display: flex;
    justify-content: center;
}
.image-effect a img{
    opacity: 0.4;
    transition: all 0.5s ease-out 0s;
}

.image-effect a:hover img{
    opacity: 1;
    transform: scale(1.1);
}
.logo-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.advanced__image{
    margin: 0 auto;
}
.logo-description{
    font-size: 16px;
    line-height: 40px;
    padding-top: 20px;
}

.logo_media.media{
    background-color: transparent;
    text-align: center;
}
.logo-carousel .logo_media:hover img{
    transform: scale(1.03);
}
@media(max-width: 768px){
    .logo-carousel .slick-slide img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
